@import "../../variables.scss";

.home-wrapper {
  height: 100vh;

  .home-header {
    padding: 0 resize(16);
    background-color: $blue;
    height: resize(88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    h1 {
      font-size: resize(20);
    }
  }

  .home-body {
    padding: 0 resize(16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p.title {
      font-weight: 500;
      margin: resize(16) 0;
    }

    .from-container {
      //   height: resize(100);
      border-radius: resize(20);
      box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
      padding: resize(10) resize(20);
      margin-bottom: resize(30);

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: resize(10);

      .icon {
        width: resize(80);
        height: resize(80);
      }

      .info {
        flex: 1;

        p.account {
          font-size: resize(16);
          font-weight: 400;
        }

        p.asset {
          font-size: resize(30);
          color: gray;

          strong {
            color: black;
          }
        }
      }
    }

    .to-container {
      .btn-submit {
        width: 100%;
        border-radius: resize(8);
        background-color: $blue;
        color: white;
        font-size: resize(20);
        font-family: "Quicksand";
        padding: resize(15) 0;
        border: none;
        outline: none;
      }
    }
  }
}
