$red: #e90044;
$red-1: #fad2ce;
$red-2: #fce0d8;
$blue: #1c00d1;
$background: #fffced;
$primary: #ec7171;
$green: #51d5c3;

@function resize($dp) {
  @return calc($dp * 0.75px);
}

@mixin newFont {
  font-family: "Pacifico", cursive;

  @content;
}
